body { 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 15px;
    text-align: center;
    margin-top: 7%;
    margin-left: 20%;
}
/* Working as intended? */
header { 
    background: #ebebeb;
    height: 100px ;
    margin: 0 auto;
    line-height: 100px;
}
/* Working as intended */
nav { 
    background: #ebebeb;
    height: 100px;
    margin: 13px auto;
    line-height: 100px;
}

.box {
    height: 50%;
}
/* Working as intended */
aside { 
    background: #ebebeb;
    width: 445px;
    float: right;
    height: 250px;
    /* margin-right: 120px; */
    /* padding: 10px; */
}
/* Not working as intended */
section { 
    background: #ebebeb;
    width: 495px;
    /* margin-left: 120px; */
    height: 250px;
}
#h1-sec {
    line-height: 73px;
}
.art_id {
    display: block;
    color: #ebebeb;
    background: #777;
}

/* Working as intended*/
article { 
    color: #ebebeb;
    background: #777;
    float: left;
    width: 96%;
    height: 175px;
    margin-left: 2%;
    margin-top: -25px;
    /* line-height: 500px; */
    /* padding: 10px; */
}
/* Not working as intended */
h1 { 
    color: #777;
    background: #ebebeb;
    width: 93%;
    margin-left: 3.25%;
    /* visibility: hidden; */
}

/* Not working as intended */
p { 
    color: #777;
    background: #ebebeb;
    width: 93%;
    margin-left: 3.25%;
    /* visibility: hidden; */
}
#pp,
#hh {
    line-height: 40px;
    height: 40px;
}
/* Working as intended */
footer { 
    background: #ebebeb;
    margin: 20px auto;
    height: 100px;
    line-height: 100px;
}

html {
    
}